<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GodMyGuyLuckly.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E98797470891854D9F0D50F3AD25D223E1CEE101</string>
				<key>dateExpires</key>
				<string>2021/5/30</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>34UZ22P4B6.com.ymyh.GodMyGuyLuckly</string>
				<key>com.apple.developer.team-identifier</key>
				<string>34UZ22P4B6</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>34UZ22P4B6.com.ymyh.GodMyGuyLuckly</string>
				</array>
			</dict>
			<key>name</key>
			<string>GodMyGuyLuckly.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>42a43389-66a6-4452-90ca-db06b02a16fa</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>34UZ22P4B6</string>
				<key>name</key>
				<string>Jiangxi Yumin Bank Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
